.page-header {
    margin-top:0; 
}

.panal-body{
padding-top:0;
}

#sidebar{
position: inherit;
<<<<<<< HEAD
}

.avatar-small img {
width: 40px;
height: 40px;
}

#circletag {
    display: block;
    width: 40px;
    height: 40px;
    background: #E6E7ED;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-image: url("large.jpg");
}

#TrainigArea{
    float:left;
    padding-top: 6px;
=======
>>>>>>> 1356213574b97c108dfdfc9514722fa73612bef6
}


#topRight {
position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
}

