@import url("/stellent/groups/public/documents/system/CSS_KMContent.css");

/* Interface Shell */
body {
	margin:0px;
	padding:0px 0px 0px 5px;
	font-family:arial,helvetica,sans-serif;
	font-size:x-small;
	background: url("/stellent/groups/public/documents/system/inside_header_tile_bg.gif") repeat-x center top;
	color:#555;
	text-align: center;
}

.AreaTitleHome h1 {
	color:#636469;
	font-size:12pt;
	font-weight:bold;
	margin:0;
	padding:0px;
}
	
.AreaTitleTier h1 {
	color:#5e88a1;
	font-size:12pt;
	font-weight:bold;
	margin:0;
	padding:0px;
}

.AreaSubtitle h1 {
	color:#5e88a1;
	font-size:10pt;
	font-weight:bold;
	margin:0;
	padding:10px 0px 0px 0px;
}

.CurrentDate {
	font-size: 8pt;	
	font-family: verdana, arial, helvetica, sans-serif;
	padding-top: 10px;
}

.HomePhotoText h2 a:link {
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
}

.HomePhotoText h2 a:visited {
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
}

.HomePhotoText h2 a:hover {
	color:#ff9900;
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
}

.HomePhotoText h2 a:visited:hover {
	color:#ff9900;
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
}

.MainContainer {
	margin-right: auto;
	margin-left: auto;
	width: 990px;
	text-align: left;
}

.Header {
	width: 990px;
	height: 96px;
	padding: 0px 0px 0px 0px;
	display:block;
	float:left;
	margin-bottom:7px;
}

.Logo {
	width: 288px;
	height: 96px;
	padding: 0px 0px 0px 0px;
	display:block;
	float:left;
}

.GlobalBox {
	width: 688px;
	padding: 40px 0px 0px 0px;
	display:block;
	float:right;
	text-align:right;
	font-size:80%;
}

.NavContainer {
	width:990px;
	padding:3px 0px 4px 0px;
}

.LeftBox {
	display:block;
	font-size:10pt;
	width:230px;
	padding:0px 35px 10px 20px;
}

.Category {
	font-weight:bold;
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	color:#333333;
	margin-bottom:5px;
	display: block;
	width:175px;
}

.MiddleBox {
	display:block;
	width:530px;
}

.MiddleBoxTop P {
	font-size:75%;
	margin-top:-1px;
}

.MiddleBoxTop {
	width:530px;
	margin-top:10px;
	padding:0px 0px 0px 0px;
}

.HomePhoto {
	display:block;
	float:left;
	width:343px;
	height:32px;
	text-align:right;
}

.HomePhotoText {
	display:block;
	font-family:arial,helvetica,sans-serif;
	font-size: 9pt;
	height:282px;
	padding:0px 0px 10px 20px;
}

.RightBox {
	display:block;
	width:230px;
	padding:0px 23px 10px 30px;
}

.RightBox H1 {
	font-weight:normal;
	font-size:small;
	color:#004580;
	font-family: arial,helvetica,sans-serif
}

.TargetedSearch {
	padding-top: 10px;
	font-size: 8pt;	
	font-family: verdana, arial, helvetica, sans-serif;
	color: #555
}

.FastFact P
{
	font-size:11px;
}
 
.FastFact UL, 
{
	color:#333333;
	font-size:11px;
	margin: 0px 0px 10px 15px;
}
	
.FastFact 
{
	border-style:solid;
	border-color:#cccccc;
	border-width:1px;
	padding:7px 7px 7px 7px;
	margin-top: 20px;
	font-family:arial,helvetica,sans-serif;
	font-size:11px;
	color:#333333;
	float: left;
	display: block;
	width:175px;
}

/*-------------------------------------------------------------------------------------*/
/* Tier styles */

.AreaDescription h3 {
	margin-top: 5px;
	margin-bottom: -5px;
}

.AreaDescription ul 
{
	list-style: none;
	margin: 10px 10px 25px 12px;
	padding: 0px 0px 0px 6px;
}

.AreaDescription ul li a:link,  
.AreaDescription ul li a:visited
 {
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_slate.gif) no-repeat left top;
	color: #235a7a; 
	display: block;
	font-weight:normal;
	margin-left: -20px;
	margin-bottom: -15px;
	padding: 2px 0px 0px 13px;
	text-decoration: none;
}

.AreaDescription ul li a:hover,
.AreaDescription ul li a:active 
{
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_on.gif) no-repeat;
	color:#ff9900; 
	font-weight:normal;
	text-decoration: none;
}

.AreaDescription p a:link,  
.AreaDescription p a:visited {
	color: #015294; 
	font-weight:bold; 
	text-decoration: underline;
}

.AreaDescription p a:hover,
.AreaDescription p a:active 
{
	color:#ff9900; 
	font-weight:bold;
	text-decoration: underline;
}

.AreaDescription td p {
	margin: -17px 0px -8px;

}
.AreaDescription td {
	font-size:8pt;
}

.AreaDescTitle h1 {
	margin:0;
	font-size:12pt;
	color:#636469;
	padding:0px;
	font-weight:bold;
}

.SplitBoxContainer {
	display:block;
	width:519px;
	margin:20px 0px 20px 0px;
	font-size:90%;
}

.SplitContent {
	display:block;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 8pt;
	background: url(/stellent/groups/public/documents/system/IMG_Inside_TileSplitBg.gif) no-repeat bottom;
}

.SplitContent P {
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 8pt;
}

.SplitContent a:link,
.SplitContent a:visited {
	color:#015294;
	background-color:transparent;
	font-weight:bold;
	text-decoration:none;
}

.SplitContent a:hover,
.SplitContent a:visited:hover {
	color:#ff9900;
	text-decoration:none;
	font-weight:bold;
	background-color:transparent;
}

.SplitLeft {
	display:block;
	width:255px;
	padding:0px;
}

.SplitContent ul { 
	margin-top:7px;
	margin-bottom:7px;
	padding:0px;
}

.SplitContent ul li { 
	display:block;
	margin-left:-10px;
	color: #555555; 
	font-size:8pt;
}

.SplitRight{
	display:block;
	width:255px;
	padding:0px;
	margin:0px 10px 0px 10px;
}

.TierContentContainer {
	display:block;
	width:530px;
}

.SMgrContentContainer{
	display:block;
	width:750px;
}

.ContentContainer {
	float:left;
	width:990px;
	margin-top: 0px;
	padding:0px;
}

.InsideBreadcrumb
{
	color: #000000;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 8pt;
    white-space: nowrap;
    text-decoration: none;
}
a.InsideBreadcrumb:hover 
{
	color: #999999;
}

.Inside_Left_Nav,
.Inside_Left_Nav-1,
.Inside_Left_Nav-2,
.Inside_Left_Nav-3,
.Inside_Left_Nav-4,
.Inside_Left_Nav-5,
.Inside_Left_Nav-6
{  
	PADDING-RIGHT: 0px;	
	DISPLAY: block;
	PADDING-BOTTOM: 0px;	
	PADDING-TOP: 1px;	
	TEXT-DECORATION: none;
	FONT-SIZE: 12px;
}

a.Inside_Left_Nav,
a.Inside_Left_Nav-1
{
BACKGROUND: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_blue.gif) no-repeat;
PADDING-LEFT: 13px;
font-weight: normal;
}
a.Inside_Left_Nav-2,
a.Inside_Left_Nav-3,
a.Inside_Left_Nav-4,
a.Inside_Left_Nav-5,
a.Inside_Left_Nav-6
{
BACKGROUND: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t3_off.gif) no-repeat;
PADDING-LEFT: 13px;
font-weight: normal;
}

a.Inside_Left_Nav:hover,
a.Inside_Left_Nav-1:hover
{color: #ff9900;
BACKGROUND: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_blue.gif) no-repeat;
}
a.Inside_Left_Nav-2:hover,
a.Inside_Left_Nav-3:hover,
a.Inside_Left_Nav-4:hover,
a.Inside_Left_Nav-5:hover,
a.Inside_Left_Nav-6:hover 
{color: #ff9900;
BACKGROUND: transparent url(/stellent/groups/public/documents/system/IMG_Inside_ss_t3_on.gif) no-repeat;
}

.Inside_Left_Nav-focus,
.Inside_Left_Nav-focus-1,
.Inside_Left_Nav-focus-2,
.Inside_Left_Nav-focus-3,
.Inside_Left_Nav-focus-4,
.Inside_Left_Nav-focus-5,
.Inside_Left_Nav-focus-6
{  
	PADDING-RIGHT: 0px;	
	DISPLAY: block;
	PADDING-BOTTOM: 0px;	
	COLOR: #ff9900;	
	PADDING-TOP: 1px;	
	TEXT-DECORATION: none;
	FONT-SIZE: 12px;
}

a.Inside_Left_Nav-focus-1, 
a.Inside_Left_Nav-focus-2, 
a.Inside_Left_Nav-focus-3, 
a.Inside_Left_Nav-focus-4, 
a.Inside_Left_Nav-focus-5, 
a.Inside_Left_Nav-focus-6 
{
BACKGROUND: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_on.gif) no-repeat;
PADDING-LEFT: 13px;
font-weight: bold;
}

a.Inside_Left_Nav-focus:hover,
a.Inside_Left_Nav-focus-1:hover,
a.Inside_Left_Nav-focus-2:hover,
a.Inside_Left_Nav-focus-3:hover,
a.Inside_Left_Nav-focus-4:hover,
a.Inside_Left_Nav-focus-5:hover,
a.Inside_Left_Nav-focus-6:hover 
{color: #ff9900; 
BACKGROUND: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_on.gif) no-repeat;
}

dt.Inside_Left_Nav,   dt.Inside_Left_Nav-focus   {margin-left: 0; margin-bottom: 3px;}
dt.Inside_Left_Nav-1, dt.Inside_Left_Nav-focus-1 {margin-left: 0; margin-bottom: 3px;}
/* add six pixels to margins */
dt.Inside_Left_Nav-2, dt.Inside_Left_Nav-focus-2 {margin-left: 11px; margin-bottom: 3px;}
dd.Inside_Left_Nav-3, dd.Inside_Left_Nav-focus-3 {margin-left: 16px; margin-bottom: 3px;}
dd.Inside_Left_Nav-4, dd.Inside_Left_Nav-focus-4 {margin-left: 26px; margin-bottom: 3px;}
dd.Inside_Left_Nav-5, dd.Inside_Left_Nav-focus-5 {margin-left: 31px; margin-bottom: 3px;}
dd.Inside_Left_Nav-6, dd.Inside_Left_Nav-focus-6 {margin-left: 36px; margin-bottom: 3px;}

.TargetedSearchSkip {
	padding-top: 10px;
	FONT-SIZE: 8pt;	
	FONT-FAMILY: verdana, arial, helvetica, sans-serif;
	COLOR: #555;
}

a.SiteLabelLink
{
	font-weight:bold;
	margin:0;
	padding:0px;	
	FONT-SIZE: 12pt;	
	PADDING-BOTTOM: 5px;	
	MARGIN: 0px;	
	COLOR: #636469;
	text-decoration: none;
}

.ContactGrouping {
	margin:0;
	font-size:10pt;
	color:#015294;
	padding:0px;
	font-weight:bold;
	border-bottom: solid 1px;
}
.ContactLabel {
	font-size:8pt;
	font-weight:bold;
	text-align:right;
	width:55px;
	padding:10px 5px 10px 10px;
	height:120px;
	vertical-align:top;
}
.ContactInfo {
	font-size:8pt;
	text-align:left;
	width:205px;
	padding:10px;
	height:120px;
}
/*===========================*/
/* FROM CSS_Inside_Nav.css   */
/*===========================*/
/* T1 Navigation */

ul {
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: x-small;
	color: #555555;
}


.InsideTierOneNav
{
	border-left:1px solid #bbbbbc;
	border-right:1px solid #bbbbbc;
	font-family: verdana, arial, tahoma, helvetica, sans-serif;
    font-size: x-small;
	margin-right: 40px;
    background: url("/stellent/groups/public/documents/system/IMG_Inside_t1nav_bg.gif") repeat-x;
}

.InsideTierOneNav a:link,
.InsideTierOneNav a:visited
{
	color:#666666;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding:5px 10px 7px 10px;
	text-decoration:none;
	white-space:nowrap;
} 

.InsideTierOneNav a:hover, 
.InsideTierOneNav a.Active  
{
	background-color:#5e88a1 !important;
	color:#ffffff !important;
	font-weight:bold;
}

.InsideTierOneNav a:active  
{
	color:#666666;
	font-weight:bold;
}

/* T2Nav Green Starts */

.T2NavGreen, .T2NavBlue, .T2NavOrange,
.T2NavAqua, .T2NavYellow, .T2NavGold,
.T2NavSlate, .T2NavDarkBlue, .T2NavRelated 
  { 
	padding: 0; 
	margin: 0; 
	font: 12px/15px  Arial, Helvetica, sans-serif;
	width: 175px;
	float: left;
	display:block;
	background-color: #fff;
}

.T2NavGreen ul, .T2NavBlue ul, .T2NavOrange ul,
.T2NavAqua ul, .T2NavYellow ul, .T2NavGold ul,
.T2NavSlate ul, .T2NavDarkBlue ul, .T2NavRelated ul { 
	font: 12px/15px  Arial, Helvetica, sans-serif;
	margin: 0; 
	padding: 0; 
	border: none;
	list-style: none;
	display:block;
}

.T2NavGreen ul li, .T2NavBlue ul li, .T2NavOrange ul li,
.T2NavAqua ul li, .T2NavYellow ul li, .T2NavGold ul li,
.T2NavSlate ul li, .T2NavDarkBlue ul li, .T2NavRelated ul li{ 
	height: 100%;
	margin: 0; 
	padding: 0; 
}

.T2NavGreen ul li a:link,  
.T2NavGreen ul li a:visited,
.T2NavBlue ul li a:link,
.T2NavBlue ul li a:visited,
.T2NavOrange ul li a:link,
.T2NavOrange ul li a:visited,
.T2NavAqua ul li a:link, 
.T2NavAqua ul li a:visited,
.T2NavYellow ul li a:link, 
.T2NavYellow ul li a:visited,
.T2NavGold ul li a:link,
.T2NavGold ul li a:visited,
.T2NavSlate ul li a:link,  
.T2NavSlate ul li a:visited,
.T2NavDarkBlue ul li a:link, 
.T2NavDarkBlue ul li a:visited,
.T2NavRelated ul li a:link, 
.T2NavRelated ul li a:visited
{  
	display: block; 
	padding: 2px 0px 0px 13px;
	text-decoration: none;
	color: #235a7a;
	font-weight:normal; 
}

.T2NavGreen ul li a:link,  
.T2NavGreen ul li a:visited {
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_green.gif) no-repeat;
}

.T2NavBlue ul li a:link,
.T2NavBlue ul li a:visited {
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_blue.gif) no-repeat;
}

.T2NavOrange ul li a:link,
.T2NavOrange ul li a:visited
{	
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_orange.gif) no-repeat;
}
.T2NavAqua ul li a:link, 
.T2NavAqua ul li a:visited
{
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_aqua.gif) no-repeat;
}

.T2NavYellow ul li a:link, 
.T2NavYellow ul li a:visited
{
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_yellow.gif) no-repeat;
}
.T2NavGold ul li a:link,
.T2NavGold ul li a:visited
{
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_gold.gif) no-repeat;
}
.T2NavSlate ul li a:link,  
.T2NavSlate ul li a:visited
{
	background: transparent url("/stellent/groups/public/documents/system/IMG_Inside_t2_off_slate.gif") no-repeat;
}
.T2NavDarkBlue ul li a:link, 
.T2NavDarkBlue ul li a:visited
{
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_off_darkBlue.gif) no-repeat;
}
.T2NavRelated ul li a:link, 
.T2NavRelated ul li a:visited
{
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_on_rl.gif) no-repeat;
}

.T2NavGreen ul li a:hover,
.T2NavGreen ul li a:focus, 
.T2NavGreen ul li a:active,
.T2NavBlue ul li a:hover,
.T2NavBlue ul li a:focus,
.T2NavBlue ul li a:active,
.T2NavOrange ul li a:hover,
.T2NavOrange ul li a:focus, 
.T2NavOrange ul li a:active,
.T2NavAqua ul li a:hover,
.T2NavAqua ul li a:focus,
.T2NavAqua ul li a:active,
.T2NavYellow ul li a:hover,
.T2NavYellow ul li a:focus, 
.T2NavYellow ul li a:active,
.T2NavGold ul li a:hover,
.T2NavGold ul li a:focus, 
.T2NavGold ul li a:active,
.T2NavSlate ul li a:hover,
.T2NavSlate ul li a:focus, 
.T2NavSlate ul li a:active,
.T2NavDarkBlue ul li a:hover,
.T2NavDarkBlue ul li a:focus, 
.T2NavDarkBlue ul li a:active,
.T2NavRelated ul li a:hover,
.T2NavRelated ul li a:focus, 
.T2NavRelated ul li a:active { 
	color:#ff9900;	
	text-decoration: none;
	font-weight:normal;
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_on.gif) no-repeat; 
}

.T2NavRelated ul li a:hover,
.T2NavRelated ul li a:focus, 
.T2NavRelated ul li a:active
{
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_on_rl.gif) no-repeat;
}

#T2NavCell .T2NavOn { 
	color:#ff9900;
	background: transparent url(/stellent/groups/public/documents/system/IMG_Inside_t2_on.gif) no-repeat;
	text-decoration: none;
	font-weight:bold;
}

/*===========================*/
/* FROM CSS_Inside_Header.css   */
/*===========================*/
.searchBox {
font: 11px Arial,Helvetica,sans-serif;
border: #b0b0b0 1px solid;
color: #000000;
background: #fff;
padding: 0px 0px 2px 5px;
}

.inputRadio {
border: #666666 0px solid;
padding: 3px 3px 3px 5px;
}

.primaryLabel
{
	font-family:Verdana, Arial, helvetica, Sans-Serif;
	font-size:8pt;
	font-weight:700;
	color:#555;
}
.radioLabel
{	
	font-family:Verdana, Arial, helvetica, Sans-Serif;
	font-size:8pt;
	color:#555;
}

/*===========================*/
/* FROM CSS_Inside_Footer.css   */
/*===========================*/
/* Footer nav */

.Footer {
	width: 990px;
	padding: 10px 0px 20px 0px;
	background: none;
	font: normal 11px arial, helvetica, verdana, san-serif; 
	color: #636469;
	text-align:center;
}

.Footer a:link {
	font: normal 11px arial, helvetica, verdana, san-serif; 
	text-decoration: none;
	color: #636469;
	padding: 0px 10px 0px 10px;
}

.Footer a:visited {
	font: normal 11px arial, helvetica, verdana, san-serif; 
	text-decoration: none;
	color: #636469;
	padding: 0px 10px 0px 10px;
}

.Footer a:hover {
	font: normal 11px arial, helvetica, verdana, san-serif; 
	text-decoration: none;
	color: #ff9900;
	padding: 0px 10px 0px 10px;
}

.Footer a:active {
	font: normal 11px arial, helvetica, verdana, san-serif; 
	text-decoration: none;
	color: #ff9900;
	padding: 0px 10px 0px 10px;
}

/*===========================*/
/* FROM CSS_Inside_Content.css   */
/*===========================*/
/* Universal styles*/

a:link {
	color:#015294;
	background-color:transparent;
}

a:visited {
	color:#015294;
	background-color:transparent;
}

a:hover,
a:visited:hover {
	color:#ff9900;
	background-color:transparent;
}

a:active,
a:active:hover {
	color:#ff9900;
	background-color:transparent;
}

h2 a:link {
	margin:0;
	font-size:100%;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
}

h2 a:visited {
	margin:0;
	font-size:100%;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
}

h2 a:hover {
	color:#ff9900;
	margin:0;
	font-size:100%;
	padding-bottom:5px;
	font-weight:bold;
}

h2 a:visited:hover {
	color:#ff9900;
	margin:0;
	font-size:100%;
	padding-bottom:5px;
	font-weight:bold;
}

h1,h2,h3 {
	font-weight:bold;
	font-family:arial,helvetica,sans-serif;
	color:#636469;
}

h1 {
	margin:0;
	font-size:135%;
	padding-bottom:5px;
	color:#636469;
	font-weight:normal;
}

h2 {
	margin:5px 20px 5px 0px;
	padding-top: 0px;
	font-size:100%;
	line-height:115%;
	text-align:left;
	color:#5e88a1;
}

h3 {
	margin:0px 20px 5px 0px;
	padding-top: 0px;
	font-size:120%;
	line-height:110%;
	text-align:left;
}

hr {
	border-right: #000000 0px solid;
	border-top: #CCCCCC 1px dotted;
	border-left: #000000 0px solid;
	border-bottom: #000000 0px solid;
	color: #CCCCCC;
	height: 1px;
}

p {
	margin: 5px 0px 10px 0px;
	font-size:x-small;
}

ol {
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	font-size: x-small;
	color: #555555;
	}

/*===========================*/
/* FROM CSS_Inside_News.css   */
/*===========================*/ 

.HomePhotoText p
{
	margin-bottom:4px;
	
}

.HomePhotoText h2 
{
	line-height:11pt;
	margin-top:0;
	margin-bottom:0;
}

.Spotlight h2 
{
	line-height:11pt;
	margin-top:10px;
	margin-bottom:0;
}
.Spotlight h2 a:link {
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
}

.Spotlight h2 a:visited{
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
}

.Spotlight h2 a:hover {
	color:#ff9900;
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
}

.Spotlight h2 a:visited:hover {
	color:#ff9900;
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
}

.Spotlight P {
	margin-bottom:4px;
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 9pt;
}

.FullStory a:link {
	margin:0;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
	vertical-align:bottom;
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 8pt;
}

.FullStory a:visited {
	margin:0;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
	vertical-align:bottom;
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 8pt;
}

.FullStory a:hover{
	color:#ff9900;
	margin:0;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
	vertical-align:bottom;
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 8pt;
}

.FullStory a:visited:hover {
	color:#ff9900;
	margin:0;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
	vertical-align:bottom;
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size: 8pt;
}

.Headlines h2 {
	margin-bottom:10px;
}

.Headlines a:link {
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
	FONT-FAMILY: arial,helvetica,sans-serif
}

.Headlines a:visited {
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
	FONT-FAMILY: arial,helvetica,sans-serif
}

.Headlines a:hover {
	color:#ff9900;
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
	FONT-FAMILY: arial,helvetica,sans-serif
}

.Headlines a:visited:hover {
	color:#ff9900;
	margin:0;
	font-size:x-small;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
	FONT-FAMILY: arial,helvetica,sans-serif
}

.MoreLink a:link {
	margin:0;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
	vertical-align:bottom;
	font-size:x-small;
	FONT-FAMILY: arial,helvetica,sans-serif;	
}

.MoreLink a:visited {
	margin:0;
	padding-bottom:5px;
	color:#015294;
	font-weight:bold;
	text-decoration:none;
	vertical-align:bottom;
	font-size:x-small;
	FONT-FAMILY: arial,helvetica,sans-serif;	
}

.MoreLink a:hover{
	color:#ff9900;
	margin:0;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
	vertical-align:bottom;
	font-size:x-small;
	FONT-FAMILY: arial,helvetica,sans-serif;
}

.MoreLink a:visited:hover {
	color:#ff9900;
	margin:0;
	padding-bottom:5px;
	text-decoration:underline;
	font-weight:bold;
	vertical-align:bottom;
	font-size:x-small;
	FONT-FAMILY: arial,helvetica,sans-serif;
}
.Dateline
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:8pt;
	font-style:italic;
	padding:0px 0px 5px 0px;
}

.Byline
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:9pt;
	font-style:italic;
	padding:15px 0px 5px 0px;
}
.Thumbnail
{
	vertical-align:top;
	display:inline;
}

.Thumbnail img
{
	border:0px;
	float:right;
}

.ThumbDate
{
	FONT-FAMILY: arial,helvetica,sans-serif;
	font-size:8pt;
	font-style:italic;
	display:block;	
	margin-top:3px;
}

.NewsStory
{
	font-family:Arial;
	font-size:14px;
	margin-top: 10px;
}

.NewsStory table
{
	border-style: none;
	width: 530px;
}

.NewsStory p
{
	font-size:14px;
}

.NewsStory ol
{
	font-size:14px;
}

.NewsStory ul
{
	font-size:14px;
}

.NewsStoryFunctions
{
	font: 500 12px/20px Arial;
	text-align:right;
}

.NewsStoryFunctions a
{
	font-weight:normal !important;
	text-decoration:none;
}

/*===========================*/
/* FROM CSS_KMSites.css   */
/*===========================*/

.MiddleBoxStaticLinks {
	display:block;
	margin: 15px 0px 2px 0px;
	width:519px;
	padding:8px;
	background: #F5F5F5;
}

.MiddleBoxRelLinks {
	display:block;
	margin: 0px 0px 2px 0px;
	float:left;
	width:519px;
	padding:8px 8px 0px 8px;
	background: #FFF;
}

.MiddleBoxStaticLinks h2 {
	display:block;
	background-color: #9AADC3;
	font-size:0.9em;
	font-weight:600;
	color: white;
	float:left;
	width:519px;
	padding:8px;
	margin:-8px -8px -8px -8px;
}

.MiddleBoxRelLinks h2 {
	display:block;
	background: url(/stellent/groups/public/documents/system/IMG_gradient_l-r.gif) repeat-y left;
	font-size:0.75em;
	float:left;
	width:519px;
	padding:8px;
	margin:-8px -8px 0px -8px;
}

h2.gradientLR img {
	vertical-align: baseline;
	border: none;
}

.DocLinks a {
	display:inline;
	padding: 0px;
	margin: 0px;
}

.DocLinks a,
.DocLinks a:hover,
.DocLinks a:active,
.DocLinks a:visited {
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	color: #4588DB;
	text-decoration: none;
}

.DocLinks a.sort {
	display:inline;
	padding: 1px;
	margin: 0px;
}

.DocLinks a:hover {
	color: #F39800;
}

.DocLinks p {
	font-size: 11px;
	margin:0px 5px 8px 0px;
	padding: 0px 0px 0px 29px;	
}

.DocLinks a.doc {
	display:inline;
}

.DocLinks a.web {
}

.ContentTable {
	background: url(/stellent/groups/public/documents/system/IMG_contentcontainer_bg-mid.gif) repeat-y;
	margin-top:4px;
}

.SecContentTable {
	background: url(/stellent/groups/public/documents/system/IMG_Sec_contentcontainer_bg-mi.gif) repeat-y;
}
.UEFSecContentTable {
	background: url(/stellent/groups/public/documents/system/IMG_Sec_contentcontainer_bg-mi.gif) repeat-y;
	margin-top:4px;
}

.MainPhoto IMG {
	display:inline;
	float: left;
	width: 175px;
	height: 131px;
	margin: 0px 10px 10px 0px;
}

.MainPhotoSmall IMG {
	display:inline;
	float: left;
	width: 75px;
	height: 56px;
	padding: 0px 10px 10px 0px;
}

.MainPhoto Table {
margin: 0px 0px -10px 0px;
}

.MainPhoto P {
margin: 0px 0px 0px;
}

/* Styles for dynamic list paging elemments */
.PageNav {
	font-size:xx-small; 
	margin-left:180px;
}

.PageNavImage {
	vertical-align:bottom;
	height:14px;
	width:14px;
	border-style:none;
}

.PageNavInput {
	height: 13px; 
	width: 30px;
	font-size: xx-small; 
	line-height:60%; 
	text-align:center;
}

.RColCallout {
	background: #F5F5F5;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 8pt;
	margin-top:10px;
	width:170px;
}

.RColCallout P {
	background: #F5F5F5;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 8pt;
}

.RColCallout ul { 
	margin-top:7px;
	margin-bottom:7px;
	padding:0px;
}

.RColCallout ul li { 
	display:block;
	margin-left:-10px;
	color: #555555; 
	font-size:8pt;
}

.RColCallout A {
	text-decoration:none;
}

.MiddleBoxLinksHeading {
	line-height: 115%;
	display:block;
	background-color: #9AADC3;
	width:519px;
	padding: 6px 17px 0px 0px;
	margin:-8px -8px 8px -8px;
	height:32px;	
}

.MiddleBoxLinksHeadingLeft {
	float:left;
	font-family: arial, helvetica, sans-serif;
	text-align:left;
	font-size:0.9em;
	font-weight:600;
	color: white;
	line-height: 115%;
	padding:3px 8px 8px 8px;
}

.MiddleBoxLinksLegend {
	line-height: 115%;
	float:right;
	display:block;
	margin:0px -8px 6px -8px;
	padding:2px 5px 2px 5px;
	font-size:.7em;
	background-color:#E1E1E1;
	border-style:solid;
	border-color: #989898;
	border-width: 1px;
}

.SectionLinksContainer {
	margin: 15px 0px 0px 0px;
}

/*===========================*/
/* FROM CSS_KMContent.css   */
/*===========================*/

.ContentBlock1
{
    background-color:#005295;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
	margin:15px 0px 10px 0px;
    padding:3px;
    width:100%;
}

.ContentBlock2,
.ContentBlock3,
.ContentBlock4
{
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    padding-left:3px;
    padding-bottom:5px;
}

.ContentHeader
{
     font-size:x-small !important;
     text-align:center;
}

.ContentLink
{
	padding-left:3px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.ContentGlossaryLink a
{
	text-decoration:none;
    border-bottom:1px dotted #4588DB;
	padding-left:3px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.ContentTable th
{
	background-color:#e6e6e6;
	color:#005295;
}
	 
.ContentTitleGray
{
	background-color:#e1e1e1;
	border:solid 1px #707070;
	color:#005295;
    font-family:arial;
	font-size:22px;
	padding:2px 0px 2px 0px;
	margin-bottom:10px;
	text-align:center;
	width:100%;
}

.ContentBlock1 a:link,
.ContentBlock1 a:visited, 
.ContentBlock1 a:active
{
    color:white;
}

.Title
{
    color:#005295;
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    width:100%;
}

.KMContent 
{
	color:#555555;
	font-family:arial;
	font-size:14px;
	margin-bottom:25px;
   	margin-left:0px;
   	padding-left:0px;
}

.KMContent a:link,
.KMContent a:visited
{
    color:#4588DB;
}

.KMContent a:hover
{
	color:#f8971c;
}
.KMContent a:active
{
    color:#4588DB;
}

.KMContent h1
{
	font-size:12pt;
}

.KMContent h2
{
	font-size:12pt;
	color:#3d578c;
}

.KMContent h3
{
	font-size:10pt;
}

.KMContent h4
{
	font-size:10pt;
	color:#8cb811;
}

.KMContent h5
{
	font-size:10pt;
}

.KMContent h6
{
	font-size:10pt;
}

.KMContent hr
{
	color:#005295;
	height:2px;
	width:100%;
}

.KMContent p
{
	font-size:14px;
}

.KMContent table p
{
	margin:0px;
	padding:4px;
}

.KMContent table
{
     border-collapse:collapse;
     border-color:#808080;
     color:#555555;
     margin-bottom:15px;
     padding:0px;
}

.KMContent td
{
     border-color:#808080;
}

.KMContent th
{
     border-color:#808080;
}

.KMContent ul p
{
	font-size:14px;
	margin:0px 0px 3px 0px;
}

.KMContent ul,
.KMContent ol
{
	font-family:arial;
	font-size:14px;
	margin-top:0px;
	padding-top:0px;
}

.KMContent li
{
	margin-top:1px;
	margin-bottom:1px;
}
























































div.Header
{
    height: 100px;
    margin: 0px;
}

div.Logo
{
    float: left;
    height: 100px;
    width: 300px;
}

div.NavContainer 
{
    clear: both;
    display: block;
    float: left;
    margin: 4px 0 0 0;
    padding: 0px;
}

div.NavContainer div 
{
    margin: 0px;
    padding: 0px;
}

div.NavContainer div comment 
{
    display: none;
}

div.NavContainer div span.InsideTierOneNav
{
    display: block;
    float: left;
}

div.NavContainer div span.InsideTierOneNav a
{
    display: block;
    float: left;
    height: 13px;
    line-height: 13px;
}

div#TICKER, div#marquee{
	font-family: monospace;
	font-size: 14px;
	height: 18px;
	overflow: hidden;
	position: relative;
}

div#TICKER span {
    white-space: nowrap !important;
}


div.ContentContainer
{
	margin-top: 5px;
}

div.LeftBox, div.RightBox
{
	padding: 0px;
	width: 210px;
}

div.LeftBox
{
	margin-left: 20px;
}

div.RightBox
{
	margin-left: 30px;
}

div.hr_seperator
{
	border-top: 1px dotted #cccccc;
	height: 1px;
	line-height: 0px;
	margin-bottom: 2px;
	margin-top: 7px;
	width: 180px;
}

div.MiddleBoxTop
{
    margin: 10px 0px 0px 0px;
}

div.LeftBox div, div.RightBox div
{
	float: none;
}

div.LeadStory
{
	overflow: hidden;
}

div.LeadStory a
{
	text-decoration: none;
}

div.LeadStory h2
{
	margin: 0px;
}

div.LeadStory div.LeadImage a img, div.LeadStory div.LeadImage img
{
	float: left;
	margin-right: 10px;
}

div.LeadStory h2 a, div.LeadStory h2 a:hover
{
	font-size: 13px !important;
}

div.LeadStory h2 a:hover
{
	text-decoration: underline;
}

div.LeadStory p.Dateline, div.Dateline, span.Dateline
{
	font-size: 9pt;
	font-style: italic;
}

div.LeadStoryText
{
	font-size: 9pt;
}

div.Fullstory
{
	line-height: 16px;
	height: 16px;
}

div.Fullstory div, div.Fullstory div.FullstoryImage
{
	float: left;
}

div.Fullstory div.FullstoryImage
{
	margin-left: 10px;
}

div.Spotlight div.Spotlight h2 a, div.Spotlight div.Spotlight h2 a:hover {
    font-size: 13px;
}




div.Footer
{
	clear: both;
}




.centerMenuSpaceDiv {
    clear: both;
    height: 8px;
    line-height: 8px;
}

div.MiddleBoxStaticLinks span p {
    margin-bottom: 0px;
}

div.AreaDescription {
    margin: 0px !important;
}

div.TierContentContainer div.MainPhoto p {
    font-size: 10pt !important;
}

div.MiddleBottom div.Headlines p a {
    font-size: 10pt !important;
}

div.MoreLink a b {
    font-size: 10pt;
    font-weight: 700;
}




div.p7menubarIconHolder {
    position: absolute;
    z-index: 997;
}

div.p7menubarIconHolder ul.p7menubar li.icon {
    z-index:998;
    width: 20px;
}

div.p7menubarIconHolder ul.p7menubar li.icon a.iconLink {
    display: block;
    width: 20px;
    padding-top: 0px;
    height: 16px;
}

div.p7menubarIconHolder ul.p7menubar li.icon ul {
    position: absolute;
    z-index: 999;
    width: 60px;
    padding: 8px;
    margin: 0px;
    top: 0px;
    left: 20px;
}

div.p7menubarIconHolder ul.p7menubar li.icon ul li{
    width: 60px;
    padding: 0px;
    margin-top: 8px;
}

div.p7menubarIconHolder ul.p7menubar li.icon ul li a {
    margin: 0px;
    padding: 0px;
    width: 60px;
}

div ul.p7menubar li.icon ul li.first {
    margin-top: 0px;
}

div.p7menubarTextHolder {
    position: relative;
    left: 20px;
    z-index: 996;
}

div.MainPhoto ul {
    font-size: 10pt !important;
}

div.p7menubarIconHolder {
    margin-left: 10px;
}

div.p7menubarTextHolder {
    width: 479px;
    left: 30px;
}

div#menuwrapperH {
    width: 519px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    padding-bottom: 1px;
}

div.MiddleBoxLinksHeading {
    width: 519px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

div.MiddleBoxLinksHeadingLeft {
    padding: 0px;
    margin: 8px 0px 0px 10px;
}

div.MiddleBoxLinksLegend {
    margin: 6px;
}

div.MiddleBoxRelLinks.DocLinks {
    padding: 0px;
    margin: 0px;
}

div.SectionLinksContainer div.MiddleBoxLinksHeading {
    margin-bottom: 0px;
}

h2.gradientLR {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

div#gradientLRContainer {
    margin: 8px;
}




div.RightBox h1 {
    font-size: 12pt;
}

table.RColCallout ul {
    margin-left: 28px;
}

table.RColCallout ul li {
    margin: 0px;
    display: list-item;
}




div.SplitBoxContainer ul {
    margin-left: 28px;
}

div.SplitBoxContainer ul li {
    margin: 0px;
    display: list-item;
}




table.ContactTable td {
    vertical-align: top;
}

table.ContactTable td div.ContactLabel {
    margin-top: 15px;
    padding: 0px;
}

table.ContactTable td div.ContactInfo {
    margin: 15px 0px 0px 10px;
    padding: 0px;
    width: 195px;
}

div.GDAMiddleBoxTop img {
margin: 0px;
padding: 0px;
margin-right: 10px;
}

div.GDAMiddleBoxTop p {
font-size: 9pt;
}

div.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}